?xml version="1.0"?>
<ROADMConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ID>R8</ID>
  <ClientInputPorts>2</ClientInputPorts>
  <ClientOutputPorts>3</ClientOutputPorts>
  <NetInputPorts>5</NetInputPorts>
  <NetOutputPorts>5</NetOutputPorts>
</Container>